.ptb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.plr-50{
    padding-left: 50px;
    padding-right: 50px;
}

.ptb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-nabvar{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    list-style: none;
    padding: 0px;
}
.active{
    background: #3e4042;
}

.admin-nabvar{
    padding-top:120px
}

.profile_items{
    list-style: none;
    padding: 15px;
    background: #22152c;
    align-items: center;
    text-align: center;
    border: 1px solid #0d0303;
    border-radius: 7px;
    color: red;
    font-size: 34px;
}